In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'type': ['A', 'A', 'B', 'B'], 'value': [10, 14, 12, 23]}
my_data = pd.DataFrame(data=data)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [2]:
my_stat = pd.read_csv('my_stat.csv')
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [4]:
subset_1 = my_stat.iloc[0: 10, [0, 2]]

In [5]:
subset_1

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A

In [6]:
bad_df = my_stat.index.isin([0, 4])
subset_df = my_stat[~bad_df]
subset_2 = subset_df.iloc[:, [1, 3]]

In [8]:
subset_2.head()

     V2   V4
1   7.0  1.0
2  11.0  0.0
3  11.0  2.0
5  11.0  0.0
6   9.0  2.0

In [12]:
subset_1 = my_stat.loc[(my_stat['V1'] > 0) & (my_stat['V3'] == 'A')]

In [26]:
subset_1.drop('V2', axis=1, inplace=True)
subset_1.drop('V4', axis=1, inplace=True)

/home/zark/.local/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [27]:
subset_1.shape

(88, 2)

In [40]:
subset_2 = my_stat.loc[(my_stat['V2'] != 10) | (my_stat['V4'] >= 1)]

In [41]:
subset_2.drop('V1', axis=1, inplace=True)
subset_2.drop('V3', axis=1, inplace=True)

In [42]:
subset_2.head()

     V2   V4
0  13.0  1.0
1   7.0  1.0
2  11.0  0.0
3  11.0  2.0
5  11.0  0.0

In [43]:
subset_2.shape

(447, 2)

In [44]:
my_stat['V5'] = my_stat.V1 + my_stat.V4

In [45]:
my_stat.head()

   V1    V2 V3   V4   V5
0   2  13.0  B  1.0  3.0
1  -1   7.0  B  1.0  0.0
2   0  11.0  A  0.0  0.0
3   2  11.0  A  2.0  4.0
4   0  10.0  B -1.0 -1.0

In [46]:
my_stat['V6'] = np.log(my_stat.V2)
my_stat.head()

   V1    V2 V3   V4   V5        V6
0   2  13.0  B  1.0  3.0  2.564949
1  -1   7.0  B  1.0  0.0  1.945910
2   0  11.0  A  0.0  0.0  2.397895
3   2  11.0  A  2.0  4.0  2.397895
4   0  10.0  B -1.0 -1.0  2.302585

In [4]:
my_stat = my_stat.rename(index=str, columns={'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'})
my_stat.head()

   session_value  group time  n_users
0              2   13.0    B      1.0
1             -1    7.0    B      1.0
2              0   11.0    A      0.0
3              2   11.0    A      2.0
4              0   10.0    B     -1.0

In [51]:
my_stat['session_value'] = my_stat['session_value'].fillna(0)

In [ ]:
my_stat['n_users'] = my_stat['n_users'].median()

In [67]:
med = my_stat.n_users.loc[my_stat['n_users'] > 0].median()

In [88]:
indexes = my_stat.loc[my_stat['n_users'] <= 0].index

In [92]:
for i in my_stat.n_users.loc[indexes]:
    my_stat.n_users.loc[i] = med

In [101]:
my_stat.session_value.value_counts()

 0    195
 1     81
-1     72
-2     48
 2     44
 3     24
-3     17
 4      6
-4      5
 5      4
-5      1
-6      1
 7      1
 6      1
Name: session_value, dtype: int64

In [112]:
df_na = pd.read_csv('my_stat_na.csv')
df_na.head()

   group  n_users  session_value time
0    9.0     -9.0            1.0    A
1   10.0      8.0            2.0    B
2   10.0     -1.0            4.0    A
3   10.0     -0.0            0.0    B
4    9.0    -15.0           -1.0    B

In [115]:
med = df_na.n_users.loc[df_na['n_users'] >= 0].median()
med

7.0

In [110]:
df_na = df_na.fillna(0)

In [111]:
df_na.count()

group            500
n_users          500
session_value    500
time             500
dtype: int64

In [116]:
indexes = df_na.loc[df_na['n_users'] < 0].index

In [124]:
for i in indexes:
    df_na.n_users.loc[i] = med

In [128]:
df_na['n_users'].head()

0    7.0
1    8.0
2    7.0
3   -0.0
4    7.0
Name: n_users, dtype: float64

In [12]:
mean_session_value_data = my_stat.groupby('group', as_index=False).agg({'session_value': 'mean'})

In [13]:
mean_session_value_data.rename(index=str, columns={'session_value': 'mean_session_value'})

   group  mean_session_value
0    5.0            0.000000
1    7.0            0.333333
2    8.0            0.633333
3    9.0            0.238938
4   10.0            0.065990
5   11.0           -0.081081
6   12.0           -0.078947
7   13.0            0.000000