In [0]:
import numpy as np
import pandas as pd
from sklearn import tree

In [0]:
df = pd.read_csv('titanic.csv')

In [0]:
df['Sex'] = df['Sex'] == 'male'

In [0]:
df.dropna(axis=0, inplace=True)

In [70]:
y = df.Survived
features = ['Pclass', 'Fare', 'Age', 'Sex']
x = df[features]
x.head()

    Pclass     Fare   Age    Sex
1        1  71.2833  38.0  False
3        1  53.1000  35.0  False
6        1  51.8625  54.0   True
10       3  16.7000   4.0  False
11       1  26.5500  58.0  False

In [0]:
clf = tree.DecisionTreeClassifier(random_state=241)
clf = clf.fit(x, y)

In [0]:
importances = clf.feature_importances_

In [69]:
importances

array([0.01793336, 0.29549222, 0.40310552, 0.2834689 ])