In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('201809-citibike.csv')

In [3]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
df.shape

(1877884, 15)

In [7]:
round(df['tripduration'].mean() / 60, 2)

16.13

In [10]:
sum(df['start station name'] == df['end station name'])

41364

In [74]:
df['bikeid'].value_counts()[:1]

33875    559
Name: bikeid, dtype: int64

In [75]:
d = df.groupby(['bikeid'])[['tripduration']].mean()
d.index[d['tripduration'] == d['tripduration'].max()]

Int64Index([17548], dtype='int64', name='bikeid')

In [80]:
df.groupby('bikeid')['tripduration'].mean().sort_values(ascending=False)[:1]

bikeid
17548    488022.4
Name: tripduration, dtype: float64

In [20]:
df.groupby(['bikeid']).agg({'tripduration': np.mean})

        tripduration
bikeid
14529    1048.922330
14530    1158.532934
14531     861.812500
14532     986.000000
14534     907.233577
...              ...
34899     610.000000
34902    3317.666667
34903    1679.400000
34904    5407.000000
34907    1009.875000

[10892 rows x 1 columns]

In [24]:
len(df['bikeid'].unique())

10892

In [57]:
df['start station id'].notnull().value_counts()

True     1877168
False        716
Name: start station id, dtype: int64

In [62]:
df.groupby(['usertype'])[['tripduration']].mean() / 60

            tripduration
usertype
Customer       33.415379
Subscriber     13.332348

In [63]:
df['start station id'].value_counts()

519.0     13968
497.0     11302
402.0     10875
426.0     10789
435.0     10322
          ...
3432.0      121
2005.0      112
3333.0      107
3704.0       49
3239.0       10
Name: start station id, Length: 768, dtype: int64

In [82]:
df['end station id'].value_counts()

519.0     13834
497.0     11964
426.0     11173
402.0     10962
435.0     10431
          ...
3240.0        1
3187.0        1
3481.0        1
3638.0        1
3196.0        1
Name: end station id, Length: 783, dtype: int64

In [83]:
import time
import datetime

df['end_hour'] = df['stoptime'].apply(lambda x: datetime.datetime.fromtimestamp(
                    time.mktime(datetime.datetime.strptime(x.strip(), "%Y-%m-%d %H:%M:%S.%f").timetuple())).hour)

In [84]:
df['start_hour'] = df['starttime'].apply(lambda x: datetime.datetime.fromtimestamp(
                    time.mktime(datetime.datetime.strptime(x.strip(), "%Y-%m-%d %H:%M:%S.%f").timetuple())).hour)

In [85]:
df[(df.start_hour.isin([18, 19, 20]))]['start station id'].value_counts().head()

519.0    3181
426.0    2701
402.0    2680
459.0    2605
477.0    2418
Name: start station id, dtype: int64